global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: DEBUG

api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: :80
  websecure:
    address: :443
    http:
      tls: {}
# certificatesResolvers:
#   le:
#     acme:
#       email: "{{ acme_email }}"
#       storage: acme.json

providers:
  docker:
    exposedByDefault: false
